
<div class="columns" >
  <div class="column is-half" >
    <%- include('./settings-taxes.ejs', { locals }) %>
  </div>

  <div class="column is-half" >
    <%- include('./settings-database.ejs', { locals }) %>
  </div>
</div>

<hr >

<div class="columns" >
  <div class="column is-half" >
    <%- include('./settings-groups.ejs', { locals }) %>
  </div>

  <div class="column is-half" >
    <%- include('./settings-wallets.ejs', { locals }) %>
  </div>
</div>

<hr >

<%- include('./settings-filters.ejs', { locals }) %>
