<!DOCTYPE html>

<%
formatCurrency = function (value) {
  return value.toLocaleString('ja-JP', { style: 'currency', currency: 'JPY', maximumFractionDigits: 0 });
}

var months = [0,1,2,3,4,5,6,7,8,9,10,11];

var localName = locals.appName ? appName : 'bookkeepr';
var localTitle = `${localName} #${version} • by Rogerio Taques`;
var localDisplayAppName = `${localName} • by Rogerio Taques`;

%>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= localTitle %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-6" ><%= localDisplayAppName %></h1>
        <p class="subtitle is-7" >Lastest entry: <%= lastUpdate || 'Never' %></p>

        <% if (message) { %>
          <div class="notification <%= error == 1 ? 'is-danger' : 'is-success' %> has-text-centered">
            <%= message %>
          </div>
        <% } %>

        <div class="tabs is-centered is-hidden-print">
          <ul>
            <li class="<%= url == '/' || url == '/add' ? 'is-active' : '' %>"><a href="/">New entry</a></li>
            <li class="<%= url == '/history' ? 'is-active' : '' %>"><a href="/history">Balance</a></li>
            <li class="<%= url == '/report' ? 'is-active' : '' %>"><a href="/report">Report</a></li>
            <li class="<%= url == '/settings' ? 'is-active' : '' %>"><a href="/settings">Settings</a></li>
          </ul>
        </div>

        <% if (url == '/' || url == '/add') { %>
          <%- include('includes/entry.ejs', { locals }) %>
        <% } %>

        <% if (url == '/history') { %>
          <%- include('includes/balance.ejs', { locals, months }) %>
        <% } %>

        <% if (url == '/report') { %>
          <%- include('includes/report.ejs', { locals, months }) %>
        <% } %>

        <% if (url == '/settings') { %>
          <%- include('includes/settings.ejs', { locals, months }) %>
        <% } %>
      </div>
    </section>
    <footer class="mb-6">
      <div class="content has-text-centered">
        <p >
          <small>
            <%= localName %> <span ><%= version %></span> •
            Node <span id="node-version">#devel</span> •
            Chromium <span id="chrome-version">#devel</span> •
            Electron <span id="electron-version">#devel</span>
          </small> <br >
          <small ><%= (new Date()).getFullYear() %> &copy; Abtz Labs</small>
        </p>
      </div>
    </footer>
  </body>
</html>
