<div class="report" >
  <form class="" method="get" action="/report">
    <div class="columns" >
      <div class="column is-10 has-text-centered" >
        <div class="field has-addons has-addons-centered" >
          <p class="control">
            <div class="select">
              <select name="year" id="history-year">
                <% for(var i = +yearsRange.minYear; i <= +yearsRange.maxYear; i += 1) { %>
                  <% if (i == year) { %>
                    <option value="<%= i %>" selected><%= i %></option>
                  <% } else { %>
                    <option value="<%= i %>" ><%= i %></option>
                  <% } %>
                <% } %>
              </select>
            </div>
          </p>

          <p class="control mr-2 is-hidden-print" >
            <button type="submit" class="button is-primary">
              <span class="icon">
                <i class="uil uil-check"></i>
              </span>
            </button>
          </p>
        </div>
      </div>

      <div class="column is-2 has-text-right is-hidden-print" >
        <button class="button" onclick="window.print()" >
          <span class="icon">
            <i class="uil uil-print"></i>
          </span>
        </button>
      </div>
    </div>
  </form>

  <% Object.keys(data.report).forEach((table) => { %>
    <div class="table-container mt-6">
      <table class="table is-fullwidth is-striped">
        <thead >
          <tr >
            <th colspan="2" style="text-transform: capitalize;" ><%= table %></th>
            <th class="has-text-right" >Jan</th>
            <th class="has-text-right" >Fev</th>
            <th class="has-text-right" >Mar</th>
            <th class="has-text-right" >Apr</th>
            <th class="has-text-right" >May</th>
            <th class="has-text-right" >Jun</th>
            <th class="has-text-right" >Jul</th>
            <th class="has-text-right" >Aug</th>
            <th class="has-text-right" >Sep</th>
            <th class="has-text-right" >Oct</th>
            <th class="has-text-right" >Nov</th>
            <th class="has-text-right" >Dec</th>
            <th class="has-text-right" >Subtotal</th>
          </tr>
        </thead>

        <tbody >
          <% data.report[table].forEach((group) => { %>
            <tr >
              <td width="50px" ><%= group.groupCode %></td>
              <td width="220px" ><%= group.groupName %></td>
              <% group.months.forEach((amount) => { %>
                <td class="has-text-right" nowrap ><%= formatCurrency(amount) %></td>
              <% }) %>
              <td class="has-text-right" nowrap ><%= formatCurrency(group.subTotal) %></td>
            </tr>
          <% }); %>
        </tbody>

        <% if (!['balance', 'taxes'].includes(table)) { %>
        <tfoot >
          <tr >
            <th colspan="2" >&nbsp;</th>
            <% var subTotal = 0 %>
            <% months.forEach((m) => { %>
              <% var amount = data.report[table].reduce((a, g) => a + g.months[m], 0) %>
              <% subTotal += amount %>
              <th class="has-text-right" nowrap ><%= formatCurrency(amount) %></th>
            <% }) %>
            <th class="has-text-right" nowrap ><%= formatCurrency(subTotal) %></th>
          </tr>
        </tfoot>
        <% } %>
      </table>
    </div>
  <% }); %>

  <br >

  <div >
    <canvas id="chart" width="600" height="200"></canvas>
  </div>
</div> <!-- .report -->

<script type="text/javascript" >
  var body = document.body;
  body.classList.remove('portrait');
  body.classList.add('landscape');
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<script>
  const randomColor = (opacity = 0.1) => {
    const o = Math.round, r = Math.random, s = 255;
    return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + opacity + ')';
  };

  const datasets = [
    <% Object.keys(data.report).forEach((table) => { %>
      <% if (['balance', 'taxes'].includes(table)) return; %>
      <% data.report[table].forEach((group) => { %>
      {
        type: 'bar',
        label: "<%= group.groupName %>",
        borderWidth: 1,
        backgroundColor: [randomColor(0.5)],
        data: [<% group.months.forEach((amount) => { %><% if (table == 'reliability') { %><%= amount * -1 %><% } else { %><%= amount %><% } %>,<% }) %>]
      },
      <% }) %>
    <% }) %>
    {
      type: 'line',
      label: 'Net worth',
      data: [<% data.report.balance[0].months.forEach((amount) => { %><%= amount %>,<% }) %>],
    }
  ];

  const ctx = document.getElementById('chart').getContext('2d');

  const myChart = new Chart(ctx, {
      data: {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: datasets
      },
      options: {
        responsive: true,
        elements: {
          line: {
            fill: true,
            borderDash: [5, 5],
            borderWidth: 2,
            borderColor: 'rgb(0, 180, 255)',
            backgroundColor: 'rgba(0, 180, 255, 0.1)'
          }
        },
        plugins: {
          legend: {
            position: 'right'
          }
        },
        scales: {
          x: {
            stacked: true
          },
          y: {
            // beginAtZero: true
            stacked: true
          }
        }
      }
  });
  </script>
